@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Rock+Salt&display=swap');

.content {
    max-width: 1600px;
    margin: 0 auto;
    
    /*we gave it two values. 
    the first says to set the top and bottom margins to 0 and the second says
    to set the left and right margins to auto: meaning to split any margin available
    the left and right*/
}

body{
    background-color: #396E94;
}
.logistics{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
   
}
 
.titulo{
    font-family: 'Rock salt', Arial, Helvetica, sans-serif;
    text-align: auto;
    padding-left: 30px;
}
.block1{
    grid-column: 1/2;
    grid-row:1/2;
    padding:20px ;
    font-family: 'PT sans Caption', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: white;
}
.block2{
    grid-column:2/3 ;
    grid-row:2/3;
    padding:20px;
    font-family: 'PT sans Caption', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: white;
}

nav {
    display:flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 35px;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: 'PT sans Caption', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color:#E7C24F;
    display: grid;
    grid-template-columns: 150px auto;
    text-align: left;

}
 
nav a:hover{
    background-color: whitesmoke;
    color: #000;
}

footer { 
    background-color: #E7C24F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
    font-size:x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }  

 .industrial, .truck{
    border: solid black;
 }

 .transportation{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;

 }

 .transportation-img{
    grid-column: 2/3;
    grid-row:1/3;
    padding: 10%;
 }


 /*.dropdown:hover, .dropdown-content {
    display: block;
 }

 .dropdown:hover {
    background-color: white;
 }

 .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }

 .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown,.dropbtn {
    float: left;
    overflow: hidden;
    font-size: 16px;  
     border: none;
    outline: none;
    color: ;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }*/
  /*href="https://roger-24.github.io/WDD130/logistics/transportation.html"*/

  .dropdown{
        margin: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
    
  }
  
  li{
    list-style: none;

}
.dropdown li a{
    background-color: #E7C24F;
    color: #000;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}

.dropdown li a:hover {
    background-color:white;
    color: black;
    
}

.dropdown > li
{
    float:left;
    
}
.dropdown li ul{
    display: none;
    position: absolute;
    min-width: 100px;
    
}
.dropdown li:hover > ul {
    display: block;
}



  

  