
#logo_logistics {    
    padding-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
    font-size: 1.5em;
    border-radius: 5px;
}

header {
    background-color:#A43312;
    display: grid;
    grid-template-columns: 110px auto;
    text-align: left
}
 
nav a:hover{
    background-color: whitesmoke;
    color: #000;
}
